body {
    background-color: #333;
    font-family: arial, sans-serif;
    color: #ccc;
    padding: 20px;
}

a {
    color: #5ba6ff;
    cursor: pointer;
}

h3 {
    font-size: 2em;
    font-weight: normal;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;

    span {
        vertical-align: middle;
    }

    a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        font-size: 11px;
    }
}

.empty {
    color: #999;
    line-height: 1.5;
}

.installed-list {
    margin-bottom: 20px;

    .installed-item {
        padding: 10px;
        margin: 0 -10px;
        background-color: #444;
        position: relative;
        margin-bottom: 10px;

        .remove {
            display: none;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .description {
            margin-top: 6px;
            font-size: 13px;
        }

        &:hover {
            background-color: #484848;

            .remove {
                display: block;
            }
        }
    }
}

.dirty {
    color: #989882;
    font-size: 13px;
}


.section-add {
    .add-description {
        font-size: 14px;
    }

    form {
        > div {
            margin-bottom: 10px;

            label {
                font-size: 14px;
                color: #999;
                margin-bottom: 3px;
                display: block;
            }

            input, textarea {
                width: calc(100% - 40px);
            }

            .dialog {
                width: 30px;
            }
        }
    }

}